<div cdkDropListGroup class="shadow-xl columns-4 p-5 gap-1 bg-gray-100 rounded m-3 min-h-screen">
    <kanban-item-list [canCreateNewItems]="true" [itemList]="originalItemList"  [titleColor]="'bg-red-500'" [title]="'Backlog'"></kanban-item-list>
    <kanban-item-list [titleColor]="'bg-yellow-500'" [title]="'WIP'"></kanban-item-list>
    <kanban-item-list [titleColor]="'bg-blue-500'" [title]="'On Hold'"></kanban-item-list>
    <kanban-item-list [titleColor]="'bg-green-500'" [title]="'Complete'"></kanban-item-list>
</div>